@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Jost:wght@200&display=swap');
*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
html {
  height: 100%;
  width: 100%;
}
header {
  vertical-align:top;
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  z-index:100;
  margin-top: -7vh ;
  font-size: 2vh;
}
.reg{
  font-size:1.5vh;
}
#outside {
  height: 7vh;
}
.top-part{
  height:7vh;
  border-bottom:dashed #000; 
  border-width:2px;
  background-color:whitesmoke;
  width: 100vw;
  vertical-align:top;
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-part{
  width: 100vw;
  height: 40vh;
  background-color: whitesmoke;
  position: fixed;
  margin-top: 47vh;
  display: none;
  border-bottom: dashed #000 2px;
}
.dropdown-image{
  width: 50vw;
  height: 100%;
  background: url(sound-pocket-with-ball.png);
  background-size: cover;
  background-position: 0 -25px;
  border-left: dashed #000 2px; 

}
.dropdown-text-discover, .dropdown-text-accessories{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-bottom: 1vh;
  padding-top: 1vh;
  padding-left: 1vw;
}
.dropdown-text-accessories{
  height: 85%;
}
.dropdown-text-discover h3, .dropdown-text-accessories h3{
  font-size: 2rem;
  color: #969696;
}
.dropdown-text-discover h4, .dropdown-text-accessories h4{
  font-size: 1.8rem;
  color: #ff0000;
}
.dropdown-text-discover p, .dropdown-text-accessories p{
  font-size: 1.5rem;
  font-weight: 1000;
}
.logo a{
  display: inline;
  color: black;
  padding-left:10px;
  font-size: 2.5rem;
}
nav ul{
  padding-right: 10px;
  display: inline;
  text-decoration: none;
  list-style-type: none;
  color: black;
  
}
nav ul li {
  text-decoration: none;
  display: inline;
  margin-right: 20px;
  color: black;
  transition: .25s;
}
nav ul li a{
  font-size: 3vh;
  color:black;
  font-weight:750;
  transition:.5s;
}
nav ul li a:hover{
  color:#ff0000;
  transition:.5s;

}
.container{
  text-align: center;
  display:overlay;
  justify-content: center;
  
}
.top-box{
  width:100%;
  height:93vh;
  background:whitesmoke;
  margin: 7vh 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.bottom-box{
  width:100%;
  height:93vh;
  background:whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.image-half{
  width: 70vw;
  height: 100%;
  background-image: url(watch-with-ball.png);
  background-position: -225px;
  background-size: cover;
  border-right: dashed #000 2px;
}
.bottom-box:nth-child(1) .bottom-boxes-image-half{
  width: 70vw;
  height: 100%;
  background-image: url(keyboard-with-ball.png);
  background-position: -150px;
  background-size: cover;
  border-right: dashed #000 2px;
}
.bottom-box:nth-child(2) .bottom-boxes-image-half{
  width: 70vw;
  height: 100%;
  background-image: url(sound-pocket-with-ball.png);
  background-position: -200px;
  background-size: cover;
  border-right: dashed #000 2px;
}
.bottom-box:nth-child(3) .bottom-boxes-image-half{
  width: 70vw;
  height: 100%;
  background-image: url(phone-with-ball.png);
  background-position: -200px;
  background-size: cover;
  border-right: dashed #000 2px;
}
.text-half{
  padding-left: 1rem;
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.text-half h3{
  font-size: 3rem;
}
.text-half p{
  font-size: 1.5rem;
  color: #969696;
}
.text-half button{
  width: 10vw;
  height: 3vw;
  font-size: 1.5rem;
  background: #ff0000;
  color: whitesmoke;
  border-radius: 2vw;
  transition: .5s;
}
.text-half button:hover{
  background: whitesmoke;
  width: 10vw;
  height: 3vw;
  border: solid .1vw black;
  color: #ff0000;
}
.text-box{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 5vh;
}
.splitter-line{
  width:100%;
  height:8.5px;
  border-top:dashed 3px #000; 
}
.Birthday-box{
  margin-left: 10px;
  width:100%;
  text-align: left;
  font-size:2vw;
  display:inline-block;
  object-fit: cover;
}
.left-side{
  margin-top: 5px;
  vertical-align:top;
  display:inline-block;
  width: 30%;
}
.vertical-line{
  display: inline-block;
  height: 325px;
  width: 1px;
  border-left:dashed 3px #000;
}
.right-side{
  display: inline-block;
  width: 40%;
  object-fit: cover;
}
.right-side img{
  width: 100%;
  height: 325px;
  object-fit: cover;
}
.other-side{
  margin-top: 5px;
  display: inline-block;
  width:25%;
  text-align: center;
  vertical-align:top;
}
.home-images{
  width:100%;
  height:575px;
  background:grey;
  display: overlay;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  z-index:5;
}
footer {
  border-top: dashed #000 2px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px 0;
  list-style-type: none;
}
footer a {
    display: block;
    text-decoration: none;
    color: black;
}
